@font-face {
    font-family: 'segoe';
    src: url('../font/segoe/segoe-webfont.eot');
    src: url('../font/segoe/segoe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/segoe/segoe-webfont.woff') format('woff'),
         url('../font/segoe/segoe-webfont.ttf') format('truetype'),
         url('../font/segoe/segoe-webfont.svg#segoe_uilight') format('svg');
    font-style: normal;
}

body{
	margin:0px;
	padding:0px;
	background-color: #efefef;
}

@media (min-width:1000px) {
	#header{
		padding-top:10px;
		width:800px;
		margin:0px auto;
		height:100px;
		color:#fff;
		font-family: segoe;
		font-size: 50px;
		line-height: 80px;
	}

	#header_container{
		background-color: #2D2733;
		width: 100%;
		height: 105px;
		margin-bottom:20px;
	}

	#error{
		font-family:arial;
		width:280px;
		border-radius:2px;
		margin-top:10px;
		padding:10px 10px;
		text-align: center;
		font-size: 18px;
		background-color: #ff8484;
		margin-left:auto;
		color:#fff;
		float:left;
		clear:none;
		margin-right:auto;
		box-shadow: 0px 2px 1px #aaa;
	}

	#trial, #info{
		font-family:segoe, arial;
		width:280px;
		border-radius:10px;
		margin-top:10px;
		padding:10px 10px;
		text-align: center;
		font-size: 18px;
		background-color: #2b2b2b;
		border:solid 1px #202020;
		margin-left:auto;
		color:#fff;
		float:left;
		clear:none;
		margin-right:auto;
		box-shadow: 0px 8px 8px -5px #222;	
	}

	#header img{
		float:left;
		margin-right:10px;
	}

	#page{
		width:960px;
		margin-left:auto;
		margin-right:auto;
	}

	#left{
		width:300px;
		float:left
	}

	#login_form{
		width:300px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0px 2px 1px #cecece;
		float:left;
		padding-bottom: 20px;
	}

	#trial a{
		color:#f00;
		font-weight: bold;
	}

	#login_form_header{
		font-family: segoe, arial;
		font-weight: bold;
		padding-bottom: 5px;
		color:#565656;
		font-size: 30px;
		line-height: 40px;
		width:92%;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom:solid 1px #fff;
		background-color: #2D2733;
		color: #fff;
		padding-left: 8%;
	}

	#login_form input[type='text'], #login_form input[type='password']{
		margin-left:20px;
		margin-top:10px;
		height:35px;
		line-height: 35px;
		font-size: 18px;
		padding-left:10px;
		font-family: segoe, arial;
		clear:right;
		border:solid 1px #acacac;
		background-color: #f9f9f9;
		border-radius: 3px;
		width:250px;
		float:left;
		outline: none;
		-webkit-transition: all 200ms;
		-moz-transition: all 200ms;
		-ms-transition: all 200ms;
		-o-transition: all 200ms;
		transition: all 200ms;
	}

	#login_form input[type='text']:focus, #login_form input[type='password']:focus{
		border-left: solid 5px #acacac;
		width: 246px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-color: #2D2733;
	}

	#login_form input[type='submit']{
		clear:left;
		float:left;
		margin-left:20px;
		margin-top:10px;
		font-size: 18px;
		padding:0px 20px;
		background-color: #2D2733;
		border-radius: 2px;
		font-family: segoe;
		color: #fff;
		font-weight: bold;
		border:none;
		font-size: 22px;
		padding-bottom: 5px;
		box-shadow: 0px 2px 0px #000;
		cursor: pointer;
	}

	#login_form input[type='submit']:hover{
		background-color: #4b474f;
		outline: none;
	}

	#right{
		width:630px;
		float:right;
	}

	#panduan{
		width:590px;
		padding:20px;
		background-color: #fff;
		float:left;
		font-family: arial;
		color: #565656;
		box-shadow: 0px 2px 1px #cecece;
		border-radius: 2px;
		border-left: 10px solid #2D2733;
	}

	#panduan_header{
		font-size: 1.5em;
		border-bottom:solid 1px #565656;
		font-family: segoe;
		font-weight: bold;
	}

	#panduan_konten ol li{
		font-size: 1em;
		font-family: segoe;
	}
}

@media (max-width:999px){
	#header{
		padding-top:10px;
		width:100%;
		margin:0px auto;
		color:#fff;
		font-family: segoe;
		font-size: 2em;
		padding-bottom: 8px;
		text-align: center;
	}

	#header_container{
		background-color: #2D2733;
		width: 100%;
		margin-bottom:10px;
	}

	#header img{
		clear: both;
		margin-right:10px;
		display: block;
		height: 60px;
	}

	#login_form_header{
		font-family: segoe, arial;
		font-weight: bold;
		padding-bottom: 5px;
		color:#565656;
		font-size: 25px;
		line-height: 40px;
		width:100%;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom:solid 1px #fff;
		background-color: #2D2733;
		color: #fff;
		padding:10px 0px 10px 40px;
		margin-top: -20px;
		margin-left: -20px;
		margin-bottom: 20px;
	}

	#login_form{
		width:80%;
		padding:20px;
		box-shadow: 0px 2px 1px #cecece;
		float:left;
		margin-left: 10%;
		margin-top: 20px;
		padding-bottom: 30px;
		background-color: #fff;
		border-radius: 2px;
	}

	#login_form input[type='text'], #login_form input[type='password']{
		margin-left:5%;
		margin-top:10px;
		font-size: 1.2em;
		padding-left:10px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: segoe, arial;
		clear:both;
		border:solid 1px #acacac;
		background-color: #f9f9f9;
		border-radius: 3px;
		width:85%;
		float:left;
		outline: none;
		-webkit-transition: all 200ms;
		-moz-transition: all 200ms;
		-ms-transition: all 200ms;
		-o-transition: all 200ms;
		transition: all 200ms;
	}

	#login_form input[type='text']:focus, #login_form input[type='password']:focus{
		border-left: solid 5px #acacac;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-color: #2D2733;
	}

	#login_form input[type='submit']{
		clear:left;
		float: left;
		margin-left:15%;
		margin-top:18px;
		font-size: 18px;
		padding:0px 20px;
		background-color: #2D2733;
		border-radius: 2px;
		width: 70%;
		font-family: segoe;
		color: #fff;
		font-weight: bold;
		border:none;
		height: 40px;
		font-size: 1.2em;
		padding-bottom: 5px;
		box-shadow: 0px 2px 0px #000;
		cursor: pointer;
		margin-bottom: 20px;
	}

	#login_form input[type='submit']:hover{
		background-color: #4b474f;
		outline: none;
	}

	#panduan{
		width:80%;
		padding:20px;
		background-color: #fff;
		float:left;
		font-family: arial;
		color: #565656;
		box-shadow: 0px 2px 1px #cecece;
		border-radius: 2px;
		margin-top: 30px;
		margin-left: 10%;
		margin-bottom: 50px;
	}

	#panduan_header{
		font-size: 1.5em;
		border-bottom:solid 1px #565656;
		font-family: segoe;
		font-weight: bold;
	}

	#panduan_konten ol li{
		font-size: 1em;
		font-family: segoe;
	}

	#error{
		font-family:arial;
		width:80%;
		border-radius:2px;
		margin-top:15px;
		padding:10px 20px;
		text-align: center;
		font-size: 18px;
		background-color: #ff8484;
		margin-left:auto;
		color:#fff;
		float:left;
		clear:none;
		margin-left:10%;
		box-shadow: 0px 2px 1px #aaa;
	}
}

@media (max-width:600px){

	#login_form{
		width:94%;
		padding:10px;
		margin-left: 3%;
	}

	#login_form_header{
		padding:10px 0px 10px 20px;
		margin-top: -20px;
		margin-left: -10px;
		margin-bottom: 20px;
	}

	#error{
		width:94%;
		margin-left: 3%;
		padding:10px 10px;
	}

	#panduan{
		margin-top: 30px;
		width:94%;
		padding:10px;
		margin-left: 3%;
	}


	#panduan_header{
		font-size: 1.3em;
		border-bottom:solid 1px #2b2b2b;
	}

	#panduan_konten{
		font-size: 1em;
	}
}