@font-face {
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	background-image: url("../image/pattern.png");
	font-family: segoe, arial;
	padding-bottom:30px;
}

#header{
	padding-top:15px;
	width:960px;
	margin:0px auto;
	height:100px;
	color:#fff;
	font-family: segoe, arial;
	font-size: 50px;
	line-height: 80px;
	margin-bottom:10px;
}

#header img{
	float:left;
	margin-right:10px;
}

#content{
	font-family: arial;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	border: solid 1px #666;
	border-radius:10px;
	box-shadow: 0px 8px 14px -5px #444;
	color: #000;
	min-height: 100%;
	padding:20px;
}

#content_header{
	font-size: 30px;
	border-bottom:solid 1px #2b2b2b;
}

#content li{
	margin-bottom:10px;
}

#content #pesan{
	width:70%;
	resize:none;
	height:60px;
	font-family: arial;
	font-size: 15px;
}

#content input[type='button']{
	height:40px;
	padding:0px 20px;
	font-size: 18px;
}

#error{
	border-radius:10px;
	margin-top:10px;
	padding:5px 10px;
	text-align: center;
	font-size: 18px;
	background-color: #ff8484;
	border:solid 1px #f24848;
	margin-left:auto;
	margin-bottom:10px;
	color:#fff;
	clear:none;
	margin-right:auto;
	box-shadow: 0px 5px 5px -3px #888;
}