@font-face {
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	background-image: url("../image/pattern.png");
	font-family: segoe, arial;
	padding-bottom:30px;
}

#header{
	padding-top:15px;
	width:800px;
	margin:0px auto;
	height:100px;
	color:#fff;
	font-family: segoe, arial;
	font-size: 50px;
	line-height: 80px;
	margin-bottom:10px;
}

#header img{
	float:left;
	margin-right:10px;
}

#content{
	font-family: arial;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	border: solid 1px #666;
	border-radius:10px;
	box-shadow: 0px 8px 14px -5px #444;
	color: #000;
	padding:20px;
	float:left;
}

#content_header{
	font-size: 30px;
	border-bottom:solid 1px #2b2b2b;
	margin-bottom:20px;
}

#left{
	float:left;
	width:250px;
}

#left img{
	width:250px;
}

#right{
	float:left;
	width:430px;
	margin-left:20px;
}

#right label{
	float:left;
	text-align: right;
	width:130px;
	clear:left;
	height:25px;
	line-height: 25px;
}

#right span{
	float:left;
	clear:right;
	margin-left:10px;
	height:25px;
	line-height: 25px;
}

#right table{
	float:left;
	clear:both;
	margin-top:30px;
}

#right table td{
	background-color: #4b4b4b;
	color: #fff;
	padding:2px 10px;
}

#right table td.table_header{
	background-color: #2b2b2b;
}

#logout{
	float:right;
	padding:0px 15px;
	height:30px;
	line-height: 30px;
	font-size: 18px;
	clear:both;
	background-color: #ff8484;
	border:solid 1px #f24848;
	color:#fff;
	clear:none;
	box-shadow: 0px 5px 5px -3px #888;
	transition:background-color 100ms;
	-webkit-transition:background-color 100ms;
	-o-transition:background-color 100ms;
	-moz-transition:background-color 100ms;
	-ms-transition:background-color 100ms;
}