@font-face{
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	font-family: segoe;
	background-image: url('../image/femaledev_pattern.png');
	border-top: solid 10px #F05F79;
}

header{
	width:450px;
	padding:20px;
	border-radius: 10px;
	margin-top:-300px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(165, 19, 44, 0.5);
	box-shadow: 0px 1px 2px #444;
	transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
}

footer{
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
}

#footer_top{
	text-align: center;
	color: #a5132c;
	text-shadow:0px 1px 2px #888;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}

#footer_content{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 290px;
}

#logo_kibar{
	height: 30px;
	margin-right: 20px;
}

#logo_untan{
	height: 50px;
	margin-right: 20px;
}

#logo_google{
	height: 30px;
}

#screen{
	width:500px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 100%;
	perspective:900px;
	-webkit-perspective:900px;
}

#container{
	width: 100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
  	transform-style: preserve-3d;
  	-webkit-transform-style: preserve-3d;
  	transition: all 1s;
  	-webkit-transition: all 1s;
}

#container div{
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: block;
  	position: absolute;
}

#container.flip{
	transform: rotateY( 180deg );
	-webkit-transform: rotateY( 180deg );
}

#depan{
	text-align: center;
	width:460px;
	height: 160px;
	padding: 20px;
	vertical-align: center;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 0px 1px 2px #888;
}

#pesan_pink{
	text-align: center;
	margin-top: 20px;
	width: 460px;
	color: #f05f79;
	font-size: 24px;
}

#pesan{
	text-align: center;
	width: 460px;
	margin-top:50px;
}

#belakang{
	height: 140px;
	width:460px;
	height: 160px;
	padding: 20px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 0px 1px 2px #888;
	transform: rotateY( 180deg );
	-webkit-transform: rotateY( 180deg );
}

#belakang label{
	text-align: right;
	width: 150px;
	display: block;
	font-size: 18px;
	line-height: 30px;
	clear: left;
	float: left;
	margin-bottom: 10px;
	margin-right: 4px;
}

#belakang input[type='text'], #belakang input[type='password']{
	clear: right;
	height: 27px;
	margin-bottom: 10px;
	width: 220px;
	padding-left: 5px;
	font-size: 16px;
	outline-color: #ff7f94;
}

#belakang input[type='submit']{
	background-color: #F05F79;
	color:#fff;
	border: solid 1px #e05068;
	height: 30px;
	margin: 0px;
	padding: 0px 20px;
	font-size: 18px;
	transition:background-color 200ms;
	-o-transition:background-color 200ms;
	-webkit-transition:background-color 200ms;
	-moz-transition:background-color 200ms;
	-ms-transition:background-color 200ms;
}

#belakang input[type='submit']:hover{
	background-color: #ff7f94;
}