@font-face {
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	background-image: url("../image/pattern.png");
}

@media (min-width:1000px) {
	#header{
		padding-top:15px;
		width:960px;
		margin:0px auto;
		height:100px;
		color:#fff;
		font-family: segoe, arial;
		font-size: 50px;
		line-height: 80px;
		margin-bottom:20px;
	}

	#error{
		font-family:segoe, arial;
		width:280px;
		border-radius:10px;
		margin-top:10px;
		padding:10px 10px;
		text-align: center;
		font-size: 18px;
		background-color: #ff8484;
		border:solid 1px #f24848;
		margin-left:auto;
		color:#fff;
		float:left;
		clear:none;
		margin-right:auto;
		box-shadow: 0px 8px 8px -5px #222;	
	}

	#trial, #info{
		font-family:segoe, arial;
		width:280px;
		border-radius:10px;
		margin-top:10px;
		padding:10px 10px;
		text-align: center;
		font-size: 18px;
		background-color: #2b2b2b;
		border:solid 1px #202020;
		margin-left:auto;
		color:#fff;
		float:left;
		clear:none;
		margin-right:auto;
		box-shadow: 0px 8px 8px -5px #222;	
	}

	#header img{
		float:left;
		margin-right:10px;
	}

	#page{
		width:960px;
		margin-left:auto;
		margin-right:auto;
	}

	#left{
		width:300px;
		float:left
	}

	#login_form{
		width:280px;
		padding:10px;
		background-color: #2b2b2b;
		border-radius:10px;
		border:solid 1px #202020;
		box-shadow: 0px 8px 8px -5px #222;
		float:left;
	}

	#trial a{
		color:#f00;
		font-weight: bold;
	}

	#login_form_header{
		font-family: segoe, arial;
		color:#fff;
		font-size: 30px;
		margin-left:10px;
		width:260px;
		border-bottom:solid 1px #fff;
	}

	#login_form input[type='text'], #login_form input[type='password']{
		margin-left:10px;
		margin-top:10px;
		height:35px;
		line-height: 35px;
		font-size: 18px;
		padding-left:10px;
		font-family: segoe, arial;
		clear:right;
		border:solid 1px #444;
		width:240px;
		float:left;
	}

	#login_form input[type='submit']{
		clear:left;
		float:left;
		margin-left:10px;
		margin-top:10px;
		height:35px;
		font-size: 18px;
		padding:0px 20px;
	}

	#right{
		width:630px;
		float:right;
	}

	#panduan{
		width:600px;
		padding:20px;
		background-color: #f4f4f4;
		border: solid 1px #666;
		float:left;
		border-radius:10px;
		box-shadow: 0px 8px 8px -5px #444;
		font-family: segoe;
		color: #2b2b2b;
	}

	#panduan_header{
		font-size: 30px;
		border-bottom:solid 1px #2b2b2b;
	}

	#panduan_konten{
		font-size: 18px;
	}
}

@media (max-width:999px){
	#header{
		padding-top:25px;
		margin:0px auto;
		text-align: center;
		color:#fff;
		font-family: segoe, arial;
		font-size: 1.7em;
		line-height: 40px;
		margin-bottom:10px;
	}

	#header img{
		clear: both;
		margin-right:10px;
		height: 100px;
		display: block;
		margin-left: calc(50% - 35px);
	}

	#login_form{
		width:80%;
		padding:20px;
		background-color: #2b2b2b;
		border-radius:10px;
		border:solid 1px #202020;
		box-shadow: 0px 8px 8px -5px #222;
		float:left;
		margin-left: 10%;
		margin-top: 20px;
		padding-bottom: 30px;
	}

	#login_form_header{
		font-family: segoe, arial;
		color:#fff;
		font-size: 2em;
		margin-left:10px;
		width:calc(100% - 20px);
		border-bottom:solid 1px #fff;
	}

	#login_form input[type='text'], #login_form input[type='password']{
		margin-left:10%;
		margin-top:10px;
		height:35px;
		line-height: 35px;
		font-size: 1.5em;
		padding-left:10px;
		font-family: segoe, arial;
		clear:right;
		border:solid 1px #444;
		width:80%;
		float:left;
	}

	#login_form input[type='submit']{
		clear:left;
		float:left;
		margin-left:10%;
		margin-top:10px;
		margin-bottom: 3px;
		height:35px;
		font-size: 18px;
		padding:0px 20px;
		background-color: #ecf0f1;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 3px 0px #7f8c8d;
		cursor: pointer;
	}

	#login_form input[type='submit']:hover{
		box-shadow: 0px 1px 0px #7f8c8d;
		margin-top: 12px;
		margin-bottom: 1px;
	}

	#error{
		font-family:segoe, arial;
		width:80%;
		border-radius:10px;
		margin-top:10px;
		margin-left: 10%;
		padding:10px 20px;
		text-align: center;
		font-size: 18px;
		background-color: #ff8484;
		border:solid 1px #f24848;
		color:#fff;
		float:left;
		clear:both;
		box-shadow: 0px 8px 8px -5px #222;	
	}

	#panduan{
		margin-top: 30px;
		width:80%;
		padding:20px;
		background-color: #f4f4f4;
		border: solid 1px #666;
		margin-left: 10%;
		border-radius:10px;
		box-shadow: 0px 8px 8px -5px #444;
		font-family: segoe, arial;
		color: #2b2b2b;
		margin-bottom: 50px;
		float: left;
	}

	#panduan_header{
		font-size: 30px;
		border-bottom:solid 1px #2b2b2b;
	}

	#panduan_konten{
		font-size: 1em;
	}
}

@media (max-width:600px){

	#login_form{
		width:94%;
		padding:10px;
		background-color: #2b2b2b;
		border-radius:10px;
		border:solid 1px #202020;
		box-shadow: 0px 8px 8px -5px #222;
		float:left;
		margin-left: 3%;
		margin-top: 20px;
		padding-bottom: 30px;
	}

	#error{
		font-family:segoe, arial;
		width:94%;
		border-radius:10px;
		margin-top:10px;
		margin-left: 3%;
		padding:10px 10px;
		text-align: center;
		font-size: 18px;
		background-color: #ff8484;
		border:solid 1px #f24848;
		color:#fff;
		float:left;
		clear:both;
		box-shadow: 0px 8px 8px -5px #222;
	}

	#panduan{
		margin-top: 30px;
		width:94%;
		padding:10px;
		background-color: #f4f4f4;
		border: solid 1px #666;
		float:left;
		margin-left: 3%;
		border-radius:10px;
		box-shadow: 0px 8px 8px -5px #444;
		font-family: segoe, arial;
		color: #2b2b2b;
		margin-bottom: 50px;
	}


	#panduan_header{
		font-size: 1.3em;
		border-bottom:solid 1px #2b2b2b;
	}

	#panduan_konten{
		font-size: 1em;
	}
}