@font-face {
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	background-image: url("../image/pattern.png");
}

#header{
	padding-top:15px;
	width:960px;
	margin:0px auto;
	height:100px;
	color:#fff;
	font-family: segoe, arial;
	font-size: 50px;
	line-height: 80px;
	margin-bottom:20px;
}

#error{
	font-family:segoe, arial;
	width:280px;
	border-radius:10px;
	margin-top:10px;
	padding:10px 10px;
	text-align: center;
	font-size: 18px;
	background-color: #ff8484;
	border:solid 1px #f24848;
	margin-left:auto;
	color:#fff;
	float:left;
	clear:none;
	margin-right:auto;
	box-shadow: 0px 8px 8px -5px #222;	
}

#header img{
	float:left;
	margin-right:10px;
}

#page{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#left{
	width:300px;
	float:left
}

#login_form{
	width:280px;
	padding:10px;
	background-color: #2b2b2b;
	border-radius:10px;
	border:solid 1px #202020;
	box-shadow: 0px 8px 8px -5px #222;
	float:left;
}

#login_form_header{
	font-family: segoe, arial;
	color:#fff;
	font-size: 30px;
	margin-left:10px;
	width:260px;
	border-bottom:solid 1px #fff;
}

#login_form input[type='text'], #login_form input[type='password']{
	margin-left:10px;
	margin-top:10px;
	height:35px;
	line-height: 35px;
	font-size: 18px;
	padding-left:10px;
	font-family: segoe, arial;
	clear:right;
	border:solid 1px #444;
	width:240px;
	float:left;
}

#login_form input[type='submit']{
	clear:left;
	float:left;
	margin-left:10px;
	margin-top:10px;
	height:35px;
	font-size: 18px;
	padding:0px 20px;
}

#right{
	width:630px;
	float:right;
}

#panduan{
	width:600px;
	padding:20px;
	background-color: #f4f4f4;
	border: solid 1px #666;
	float:left;
	border-radius:10px;
	box-shadow: 0px 8px 8px -5px #444;
	font-family: segoe, arial;
	color: #2b2b2b;
}

#panduan_header{
	font-size: 30px;
	border-bottom:solid 1px #2b2b2b;
}

#panduan_konten{
	font-size: 18px;
}