@font-face {
	font-family: segoe;
	src: url('../font/segoe.ttf');
}

body{
	margin:0px;
	padding:0px;
	background-image: url("../image/pattern.png");
	font-family: segoe, arial;
	padding-bottom:30px;
}

#header{
	padding-top:15px;
	width:800px;
	margin:0px auto;
	height:100px;
	color:#fff;
	font-family: segoe, arial;
	font-size: 50px;
	line-height: 80px;
	margin-bottom:10px;
}

#header img{
	float:left;
	margin-right:10px;
}

#content{
	font-family: arial;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	border: solid 1px #666;
	border-radius:10px;
	box-shadow: 0px 8px 14px -5px #444;
	color: #000;
	padding:20px;
	float:left;
}

#content_header{
	font-size: 30px;
	border-bottom:solid 1px #2b2b2b;
	margin-bottom:20px;
}

#form_header{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#form_input{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

#form_input input[type='text']{
	width:290px;
	margin-left:10px;
}
